<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Big Burguer ¡Ven a nuestro restaurante! También ofrecemos comida para llevar</title>
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel=" icon" href="../favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200..700&family=Yellowtail&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div class="container-header">
                <h1><a href="../index.html">Big Burger</a></h1>
                    <nav>
                        <ul class="navigationList">
                            <li><a class="enlace " href="../index.html">INICIO</a></li>
                            <li><a class="enlace" href="productos.html">NUESTRA CARTA</a></li>
                            <li><a class="enlace " href="presupuesto.html">RESERVAS</a></li>
                            <li><a class="enlace active" href="#">ESTAMOS AQUÍ</a></li>
                        </ul>
                    </nav>
                    <div class="btn-compra">
                        <a href="productos.html">Hacer pedido</a>
                    </div>
        </div>
        </header>
        <!-- MAIN -->
        <main>
            <div class="title-ubicacion">
                <h1>Ven a visitarnos...</h1>
            </div>
            <div class="container-ubicacion">
                <p>Nos encontramos en el corazón de la ciudad.
                    Situado estratégicamente en el centro, ofrecemos a nuestros comensales un
                    refugio culinario donde pueden escapar del ajetreo diario y disfrutar de una experiencia gastronómica
                    excepcional. Con una ubicación excelente, nuestro restaurante es el lugar perfecto para reuniones
                    de negocios, cenas románticas o simplemente para disfrutar de una deliciosa comida entre amigos. ¡Únete
                    a nosotros y descubre la mezcla perfecta de sabor, estilo y comodidad en el corazón de la ciudad!</p>

                <iframe id="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8992.779666658333!2d-3.602935664245794!3d37.166304510928114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fca46863ca9b%3A0x7177c0412110e267!2sAv.%20Pablo%20Picasso%2C%20Granada!5e0!3m2!1ses!2ses!4v1712160973072!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="date">
                <p>CALLE: Pablo Picasso nº 56 (Granada)</p>
                <p>CÓDIGO POSTAL: 18667</p>
                <p>TELÉFONO: 678453221</p>
                <P>E-MAIL: bigburguer@hotmail.com</P>
            </div>
        </main>
        <!-- FOOTER -->
        <footer>
            <div class="container-footer">
                <div class="avisoLegal">
                    <h4>SERVICIOS</h4>
                    <ul>
                        <li><a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank">Aviso
                                Legal</a></li>
                        <li><a href="https://policies.google.com/technologies/cookies?hl=es" target="_blank">Política de
                                Cookies</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="https://mcdonalds.es/productos/?gad_source=1&gclid=CjwKCAjw_LOwBhBFEiwAmSEQAQzZm5wxwd8Qq3hlrCeynOzVv9lSwh6dBAY0Ig7zPKMSdgG8atIu1RoCxmkQAvD_BwE&gclsrc=aw.ds"
                                target="_blank">Nuestras franquicias</a></li>
                        <li><a href="#">Algo Interesante</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h4>Big Burguer</h4>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i>
                            <a href="tel:+34678453221">+34678453221</a>
                        </li>
                        <li><i class="fa-solid fa-envelope"></i>
                            <a href="mailto:bigburguer@gmail.com">bigburguer@hotmail.com</a>
                        <li> <i class="fa-solid fa-location-dot"></i>
                            <a href="https://maps.app.goo.gl/3Lt2a7kjCXJ2neoa7" target="_blank">Pablo Picasso nº56
                                (Granada)</a>
                        </li>
                    </ul>
                </div>
                <div class="redes">
                    <h4>FOLLOW US</h4>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/es/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="copy">
                <p> &copy; Copyrigth Big-Burguer 2024 |Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>

</html>