<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Big Burguer ¡Ven a nuestro restaurante! También ofrecemos comida para llevar</title>
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel=" icon" href="../favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200..700&family=Yellowtail&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div class="container-header">
                <h1><a href="../index.html">Big Burger</a></h1>
                <nav>
                    <ul class="navigationList">
                        <li><a class="enlace " href="../index.html">INICIO</a></li>
                        <li><a class="enlace active" href="#">NUESTRA CARTA</a></li>
                        <li><a class="enlace " href="presupuesto.html">RESERVAS</a></li>
                        <li><a class="enlace" href="../views/contacto.html">ESTAMOS AQUÍ</a></li>
                    </ul>
                </nav>
           
                <div class="btn-compra">
                    <a href="productos.html">Hacer pedido</a>
                </div>
         </div>
        </header>
        <!-- MAIN -->
        <main>
            <div class="title-carta">
                    <h1>Nuestra Carta</h1>
                </div>
            <section class="container-carta">
            
                <div class="nav-carta">
                    <ul>
                        <li><a href="#Burguer">Burguer Xtrem</a></li>
                        <li><a href="#Pizzas">Pizzas</a></li>
                        <li><a href="#PatatasGratinadas">Patatas Gratinadas</a></li>
                        <li><a href="#Postres">Postres</a></li>
                    </ul>
                    <div class="nuestromenu-section">
                        <a href="#" id="Burguer"></a>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer1.jpg" alt="Hamburguesa" width="1280" height="853">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer2.jpg" alt="Hamburguesa" width="1280" height="853">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer3.jpg" alt="Hamburguesa" width="1280" height="853">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer4.jpg" alt="Hamburguesa" width="1170" height="1280">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer5.jpg" alt="Hamburguesa" width="1280" height="1280">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <div class="burguer-container">
                            <div class="burguer-list">
                                <div class="burguer-image">
                                    <img src="../asset/images/burguer6.jpg" alt="Hamburguesa" width="1280" height="1280">
                                </div>
                                <div class="burguer-text">
                                    <h2>Hamburguesa</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                        culpa
                                        dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                        exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Sección Pizzas -->
                        <div class="title-pizzas">
                            <h2><a href="#" id="Pizzas">Pizzas</a></h2>
                        </div>
                        <div class="pizza-section">
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza6.jpg" alt="Pizza" width="1280" height="905">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza1.jpg" alt="Pizza" width="1280" height="849">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza2.jpg" alt="Pizza" width="1280" height="854">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza3.jpg" alt="Pizza" width="1280" height="865">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza4.jpg" alt="Pizza" width="1280" height="848">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pizzas-container">
                                <div class="pizzas-list">
                                    <div class="pizzas-image">
                                        <img src="../asset/images/pizza5.jpg" alt="Pizza" width="1280" height="853">
                                    </div>
                                    <div class="pizzas-text">
                                        <h2>Pizza</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Sección Patatas -->
                            <div class="title-patatas">
                                <h2><a href="#" id="PatatasGratinadas">Patatas Gratinadas</a></h2>
                            </div>
                            <div class="patatas-container">
                                <div class="patatas-list">
                                    <div class="patatas-image">
                                        <img src="../asset/images/papata1.jpg" alt="Plato de patatas gratinadas" width="1280" height="853">
                                    </div>
                                    <div class="patatas-text">
                                        <h2>Patatas Gratinadas</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="patatas-container">
                                <div class="patatas-list">
                                    <div class="patatas-image">
                                        <img src="../asset/images/patatas3.jpg" alt="Plato de patatas gratinadas" width="1280" height="865">
                                    </div>
                                    <div class="patatas-text">
                                        <h2>Patatas Gratinadas</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="patatas-container">
                                <div class="patatas-list">
                                    <div class="patatas-image">
                                        <img src="../asset/images/patatas4.jpg" alt="Plato de patatas gratinadas" width="1280" height="960">
                                    </div>
                                    <div class="patatas-text">
                                        <h2>Patatas Gratinadas</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="patatas-container">
                                <div class="patatas-list">
                                    <div class="patatas-image">
                                        <img src="../asset/images/patatas5.jpg" alt="Plato de patatas gratinadas" width="1280" height="853">
                                    </div>
                                    <div class="patatas-text">
                                        <h2>Patatas Gratinadas</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="patatas-container">
                                <div class="patatas-list">
                                    <div class="patatas-image">
                                        <img src="../asset/images/patatas6.jpg" alt="Plato de patatas gratinadas" width="1280" height="853">
                                    </div>
                                    <div class="patatas-text">
                                        <h2>Patatas Gratinadas</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse, doloribus
                                            culpa
                                            dolorem, debitis itaque vero placeat tempore distinctio laudantium cupiditate
                                            exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Sección Postres -->
                            <div class="title-postres">
                                <h2><a href="#" id="Postres">Postres</a></h2>
                            </div>
                            <div class="postres-section">
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/postre1.jpg" alt="Postre" width="1280" height="853">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/postre2.jpg" alt="Postre" width="1280" height="853">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/popstre3.jpg" alt="Postre" width="1280" height="853">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/postre4.jpg" alt="Postre" width="1280" height="853">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/postre5.jpg" alt="Postre" width="1280" height="904">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="postres-container">
                                    <div class="postres-list">
                                        <div class="postres-image">
                                            <img src="../asset/images/postre6.jpg" alt="Postre" width="1280" height="853">
                                        </div>
                                        <div class="postres-text">
                                            <h2>Postres</h2>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam esse,
                                                doloribus
                                                culpa
                                                dolorem, debitis itaque vero placeat tempore distinctio laudantium
                                                cupiditate
                                                exercitationem aspernatur. Quia suscipit minus nemo iusto ipsa possimus.</p>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top1">
                    <a href="#">Ir arriba</a>
                </div>

            </section>
        </main>
        <!-- Pie de página -->
        <!-- Aviso Legal y Políticas -->
        <footer>
            <div class="container-footer">
                <div class="avisoLegal">
                    <h4>SERVICIOS</h4>
                    <ul>
                        <li><a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank">Aviso Legal</a></li>
                        <li><a href="https://policies.google.com/technologies/cookies?hl=es" target="_blank">Política de Cookies</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                        <li><a href="https://mcdonalds.es/productos/?gad_source=1&gclid=CjwKCAjw_LOwBhBFEiwAmSEQAQzZm5wxwd8Qq3hlrCeynOzVv9lSwh6dBAY0Ig7zPKMSdgG8atIu1RoCxmkQAvD_BwE&gclsrc=aw.ds" target="_blank">Nuestras franquicias</a></li>
                        <li><a href="#">Algo Interesante</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h4>Big Burguer</h4>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i>
                            <a href="tel:+34678453221">+34678453221</a>
                        </li>
                        <li><i class="fa-solid fa-envelope"></i>
                        <a href="mailto:bigburguer@gmail.com">bigburguer@hotmail.com</a> 
                        <li> <i class="fa-solid fa-location-dot"></i>
                        <a href="https://maps.app.goo.gl/3Lt2a7kjCXJ2neoa7" target="_blank">Pablo Picasso nº56 (Granada)</a> 
                        </li>
                    </ul>
                </div>
                <div class="redes">
                    <h4>FOLLOW US</h4>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
            <div class="copy">
                <p> &copy;Copyrigth Big-Burguer 2024 |Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>

</html>